/*body {
    background-image: url("background.jpg");
}*/

div {
	position: absolute;
}

#backcover {
	z-index: -1;
}

#banner {
	display: none;
	left: 30%;
}

#youtube {
	display: none;
	left: 385px;
	top: 20px;
}

#bandcamp{
	top: 20px;
	left: 20px;
}

#soundcloud{
	display:none;
	top: 20px;
	right: 20px;
}

#scloud img {
	width: 48%;
}

#discogs img {
	width: 80%;
}

#scloud {

	right:-118px;
	top: 20px;
}

#ytube {
	right:110px;
	top: -8px;
}

#discogs {
	width: 150px;
	top: 20px;
	left: 370px;
}


